<div class="header">
	<header class="navbar navbar-fixed-top navbar-inverse">
		<div class="container">
			<%= link_to "sample_app", base_url, id: "logo" %>
			<nav>
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to "Home" , base_url("static_pages/home") %></li>
					<li><%= link_to "Help" , base_url("static_pages/help") %></li>
					<% if current_user %>
						<li><%= link_to "Logout", logout_path, method: :delete %></li>
					<% else %>
						<li><%= link_to "Login", login_path %></li>
					<% end %>
				</ul>
			</nav>
		</div>
	</header>
</div>
